FE/ShoesStoreFE/ShoesStoreFE/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51318/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51318/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51318/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfShoesStore" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetStores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStores" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStore_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStore" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyStore_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyStore" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveStore_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStore" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticle" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArticle" />
  </wsdl:message>
  <wsdl:message name="IService1_AddArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyArticle" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveArticle" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveArticleResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetStores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStores" message="tns:IService1_GetStores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStoresResponse" message="tns:IService1_GetStores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddStore" message="tns:IService1_AddStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddStoreResponse" message="tns:IService1_AddStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyStore" message="tns:IService1_ModifyStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyStoreResponse" message="tns:IService1_ModifyStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveStore" message="tns:IService1_RemoveStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveStoreResponse" message="tns:IService1_RemoveStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetArticles" message="tns:IService1_GetArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetArticlesResponse" message="tns:IService1_GetArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetArticle" message="tns:IService1_GetArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetArticleResponse" message="tns:IService1_GetArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddArticle" message="tns:IService1_AddArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddArticleResponse" message="tns:IService1_AddArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyArticle" message="tns:IService1_ModifyArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyArticleResponse" message="tns:IService1_ModifyArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveArticle" message="tns:IService1_RemoveArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveArticleResponse" message="tns:IService1_RemoveArticle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStores">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStore">
      <soap:operation soapAction="http://tempuri.org/IService1/AddStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyStore">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStore">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticles">
      <soap:operation soapAction="http://tempuri.org/IService1/GetArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <soap:operation soapAction="http://tempuri.org/IService1/GetArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArticle">
      <soap:operation soapAction="http://tempuri.org/IService1/AddArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyArticle">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveArticle">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51318/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>