FE/ShoesStoreFE/ShoesStoreFE/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfShoesStore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfShoesStore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftbl_Stores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_Stores" nillable="true" type="tns:tbl_Stores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_Stores" nillable="true" type="tns:ArrayOftbl_Stores" />
  <xs:complexType name="tbl_Stores">
    <xs:sequence>
      <xs:element minOccurs="0" name="storeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storeId" type="xs:int" />
      <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_Stores" nillable="true" type="tns:tbl_Stores" />
  <xs:complexType name="ArrayOftbl_Articles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_Articles" nillable="true" type="tns:tbl_Articles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_Articles" nillable="true" type="tns:ArrayOftbl_Articles" />
  <xs:complexType name="tbl_Articles">
    <xs:sequence>
      <xs:element minOccurs="0" name="articleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="articleId" type="xs:int" />
      <xs:element minOccurs="0" name="articleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="articlePrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="articleTotalInShelf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="articleTotalInVault" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_Articles" nillable="true" type="tns:tbl_Articles" />
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element minOccurs="0" name="articleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="articleId" type="xs:int" />
      <xs:element minOccurs="0" name="articleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="articlePrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="articleTotalInShelf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="articleTotalInVault" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Article" nillable="true" type="tns:Article" />
</xs:schema>