FE/ShoesStoreFE/ShoesStoreFE/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51318/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfShoesStore" />
  <xs:element name="GetStores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfShoesStore" minOccurs="0" name="GetStoresResult" nillable="true" type="q1:ArrayOftbl_Stores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfShoesStore" minOccurs="0" name="sobj" nillable="true" type="q2:tbl_Stores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfShoesStore" minOccurs="0" name="sobj" nillable="true" type="q3:tbl_Stores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfShoesStore" minOccurs="0" name="GetArticlesResult" nillable="true" type="q4:ArrayOftbl_Articles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfShoesStore" minOccurs="0" name="GetArticleResult" nillable="true" type="q5:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfShoesStore" minOccurs="0" name="sobj" nillable="true" type="q6:tbl_Articles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfShoesStore" minOccurs="0" name="sobj" nillable="true" type="q7:tbl_Articles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>